<div class="wrapper">
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a routerLink="/employee-details" routerLinkActive="active">Thông tin cá nhân</a></li>
            <li><a routerLink="/manage-account" routerLinkActive="active">Quản lý tài khoản hệ thống</a></li>
            <li><a routerLink="/manage-customer" routerLinkActive="active">Quản lý khách hàng</a></li>
            <li><a routerLink="/manage-bank-account" routerLinkActive="active">Quản lý tài khoản ngân hàng</a></li>
            <li><a routerLink="/manage-transaction" routerLinkActive="active">Quản lý giao dịch</a></li>
        </ul>
    </div>
</div>